* {
 background-color: black
 text-align: center;
}

.Title_1 h1 {
 font-family: "Verdana";
 font-weight: normal;
 font-size: 50px;
 color: white;
 text-align: center;
}

.Title_1.Title_3 p {
 font-family: Aquamarine;
 font-size: 16px;
}

.Title_2.Title_3 h1 {
 font-family: "Verdana";
 font-weight: 300;
 font-size: 42px;
}

.Title_2 p {
 font-family: "Verdana";
 font-size: 21px;
 color: gray;
}

footer {
 color: gray;
 text-align: right;
}




